<aside class="left-side __l__s__adm">
    <div class="__logo">
        <span class="__icon__logo"> S </span>
        <h1>HONE</h1>
    </div>
    <div class="divider"></div>
    <nav>
        <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
        <a href="#">
            <i class="fa fa-hashtag" aria-hidden="true"></i>
            <span>Thành viên</span>
        </a>
        <a href="#">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>Trang cá nhân</span>
        </a>
    </nav>
    <div class="__l__s__footer">
        <div class="divider"></div>
        <div class="__wrap__info">
            <div class="__profile">
                <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                    width="50" height="50">
            </div>
            <div class="__info__acc">
                <span class="__info__name">John Caragher</span>
                <span class="__info__status">
                    <i class="fa fa-circle" aria-hidden="true"></i> online
                </span>
            </div>
        </div>
    </div>
</aside>