<aside class="right-side">
    <div class="top-reader">
        <div class="wrp-p">
            <div class="tt">
                <h2>Nhiều người đọc</h2>
            </div>
            <div class="_itm">
                <div class="p-link">
                    <a href="">Hành trình đến amazon</a>
                </div>
               <div class="tt-views">
                   <span>500 views</span>
               </div>
            </div>
           <div class="_itm">
                <div class="p-link">
                    <a href="">Hành trình đến amazon</a>
                </div>
               <div class="tt-views">
                   <span>500 views</span>
               </div>
            </div>
            <div class="_itm">
                <div class="p-link">
                    <a href="">Hành trình đến amazon</a>
                </div>
               <div class="tt-views">
                   <span>500 views</span>
               </div>
            </div>
            <div class="_itm">
                <div class="p-link">
                    <a href="">Hành trình đến amazon</a>
                </div>
               <div class="tt-views">
                   <span>500 views</span>
               </div>
            </div>
            <div class="_itm">
                <div class="p-link">
                    <a href="">Hành trình đến amazon</a>
                </div>
               <div class="tt-views">
                   <span>500 views</span>
               </div>
            </div>
            <div class="_itm">
                <div class="p-link">
                    <a href="">Hành trình đến amazon</a>
                </div>
               <div class="tt-views">
                   <span>500 views</span>
               </div>
            </div>
        </div>
        <div class="p-more">
            <a href="">Hiển thị thêm</a>
        </div>
    </div>
</aside>