<section class="__content__page">
    <div class="__content">
        <div class="__page__title">
            <div class="__page__title__wrapper">
                <div class="__title__heading">
                    <div class="__main__title">Quản lý thành viên</div>
                    <div class="__sub__title">Thông tin quản lý thành viên</div>
                </div>
                <div class="__title__actions">
                    <div class="__actions__group">
                        <button class="btn __btn__item btn-success" data-toggle="modal" data-target="#create-user">Thêm mới</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="__page__container">
            <div class="__wrapper__table">
                <div class="__title__table">

                </div>
                <div class="__content__table">
                    <table class="table hover">
                        <thead>
                            <tr>
                                <th>Stt</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>John Caragher</td>
                                <td>London</td>
                                <td>johncaragher@gmail.com</td>
                                <td>0962561561</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>John Caragher</td>
                                <td>London</td>
                                <td>johncaragher@gmail.com</td>
                                <td>0962561561</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>John Caragher</td>
                                <td>London</td>
                                <td>johncaragher@gmail.com</td>
                                <td>0962561561</td>
                                <td>Active</td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>John Caragher</td>
                                <td>London</td>
                                <td>johncaragher@gmail.com</td>
                                <td>0962561561</td>
                                <td>Active</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="__pagination__table">
                    <div class="__info__table col-md-6">
                        <span>Showing 1 to 10 of 50 entries</span>
                    </div>
                    <ul class="__pagination col-md-6">
                        <li class="__page__item"><a href="" class="__page__link">Prev</a></li>
                        <li class="__page__item active"><a href="" class="__page__link">1</a></li>
                        <li class="__page__item"><a href="" class="__page__link">2</a></li>
                        <li class="__page__item"><a href="" class="__page__link">3</a></li>
                        <li class="__page__item"><a href="" class="__page__link">4</a></li>
                        <li class="__page__item"><a href="" class="__page__link">5</a></li>
                        <li class="__page__item"><a href="" class="__page__link">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="__page__footer"></div>
    </div>
</section>