
<section class="main-sign-in">
    <div class="sign-in-form admin">
        <h2>Sign in</h2>
        <form>
            <div class="input-box">
                <i class="fa fa-user"></i>
                <input type="text" name="" placeholder="Username" id="">
            </div>
            <div class="input-box login-fileds_password">
                <i class="fa fa-unlock-alt"></i>
                <input type="password" name="" placeholder="Password" id="">
            </div>
            <div class="forgot">
                <a href="#">Forgot your password?</a>
            </div>
            <div class="fields-submit">
                <button type="button" class="btn btn-s-i">
                    Sign in
                </button>
            </div>
        </form>
    </div>
</section>