<div class="__modal fade" id="create-user">
    <div class="__modal__content">
        <div class="__modal__header">
            <div class="__modal__header__title">
                Thêm mới tài khoản
            </div>
            <div class="__modal__header__actions">
                <button type="button" data-close="close-modal">x</button>
            </div>
        </div>
        <div class="__modal__body">
            <div class="__modal__form">
                <form name="f-create-user" id="f-create-user">
                    <div class="form-group">
                        <label for="" class="col-md-12 label-control mgr-t-b-5">Email</label>
                        <div class="col-md-12">
                            <input type="text" name="email" class="form-control" placeholder="Enter a email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-12 label-control mgr-t-b-5">Password</label>
                        <div class="col-md-12">
                            <input type="password" name="password" class="form-control" placeholder="Enter a password">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="" class="col-md-12 label-control mgr-t-b-5">Confirm password</label>
                        <div class="col-md-12">
                            <input type="password" name="re_password" class="form-control" placeholder="Re-type password">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="__modal__footer">
            <div class="__actions__group text-right">
                <button class="btn btn-success" id="btn-create-user">Lưu</button>
                <button class="btn btn-default" data-close="close-modal">Hủy</button>
            </div>
        </div>
    </div>

</div>