<div class="sign-in-wrapper">
    <h2>Sign in</h2>
    <div class="sign-in-form">
        <form>
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="button" class="btn rd-4 btn-sign-in-form">Sign in</button>
        </form>
    </div>
    <div class="divider">
        <h4>or</h4>
    </div>
    <div class="sign-in-connections">
        <button type="button" class="btn rd-4 sign-in-gg">Sign in with google</button>
        <button type="button" class="btn rd-4 sign-in-fb">Sign in with facebook</button>
        <button type="button" class="btn rd-4 sign-in-tt">Sign in with twitter</button>
    </div>
</div>