<section class="content">
    <div class="wrapper-story">
        <div class="__item__story">
            <div class="__author__story">
                <div class="__author__profile">
                    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                        width="50" height="50">
                </div>
                <div class="__author__name">
                    Tom Caragher
                </div>
            </div>
            <div class="__title__story">
                <a href="#">
                    <span>Hành trình đến Amazon</span>
                </a>
            </div>
            <div class="__content__story">
                <p>
                    Women need more foreplay than men think they do.
                </p>
                <p>
                    You think you need to take your shirt off but don’t do it so soon because women don’t really care
                    about seeing you totally naked. With a shirt on its hotter trust me.
                </p>
                <p>
                    When a woman tries to resist you playfully during sex its just a fun tease and they know you like a
                    fun tease. (Now I mean playful resistance not the nonconsensual one coz everyone knows what that
                    means and I don’t wanna get into that topic)
                </p>
                <p>
                    Men need to learn how to touch the clit because its real sensitive and hard touching doesn’t make
                    anyone come faster it simply is a turn off. LEARN how to touch. Don’t go rubbing it aggressively,
                    nothings going to come out of that.
                </p>
                <p>
                    Let that expensive lingerie stay a little bit longer than taking it all off. That shit cost money.
                    You can do stuff with that still on the woman. LEARN.
                </p>
            </div>
            <div class="__action__bar__inner">
                <span class="__wrap__item">
                    <div class="__action__item __action__comment">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __action__like">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __total__viewers" title="10k views">
                        <div class="__wrap__act__ct">
                            <div class="__ui__icon">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="__item__story">
            <div class="__author__story">
                <div class="__author__profile">
                    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                        width="50" height="50">
                </div>
                <div class="__author__name">
                    Tom Caragher
                </div>
            </div>
            <div class="__title__story">
                <a href="#">
                    <span>Hành trình đến Amazon</span>
                </a>
            </div>
            <div class="__content__story">
                <p>
                    Women need more foreplay than men think they do.
                </p>
                <p>
                    You think you need to take your shirt off but don’t do it so soon because women don’t really care
                    about seeing you totally naked. With a shirt on its hotter trust me.
                </p>
                <p>
                    When a woman tries to resist you playfully during sex its just a fun tease and they know you like a
                    fun tease. (Now I mean playful resistance not the nonconsensual one coz everyone knows what that
                    means and I don’t wanna get into that topic)
                </p>
                <p>
                    Men need to learn how to touch the clit because its real sensitive and hard touching doesn’t make
                    anyone come faster it simply is a turn off. LEARN how to touch. Don’t go rubbing it aggressively,
                    nothings going to come out of that.
                </p>
                <p>
                    Let that expensive lingerie stay a little bit longer than taking it all off. That shit cost money.
                    You can do stuff with that still on the woman. LEARN.
                </p>
            </div>
            <div class="__action__bar__inner">
                <span class="__wrap__item">
                    <div class="__action__item __action__comment">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __action__like">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __total__viewers">
                        <div class="__wrap__act__ct">
                            <div class="__ui__icon">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="__item__story">
            <div class="__author__story">
                <div class="__author__profile">
                    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                        width="50" height="50">
                </div>
                <div class="__author__name">
                    Tom Caragher
                </div>
            </div>
            <div class="__title__story">
                <a href="#">
                    <span>Hành trình đến Amazon</span>
                </a>
            </div>
            <div class="__content__story">
                <p>
                    Women need more foreplay than men think they do.
                </p>
                <p>
                    You think you need to take your shirt off but don’t do it so soon because women don’t really care
                    about seeing you totally naked. With a shirt on its hotter trust me.
                </p>
                <p>
                    When a woman tries to resist you playfully during sex its just a fun tease and they know you like a
                    fun tease. (Now I mean playful resistance not the nonconsensual one coz everyone knows what that
                    means and I don’t wanna get into that topic)
                </p>
                <p>
                    Men need to learn how to touch the clit because its real sensitive and hard touching doesn’t make
                    anyone come faster it simply is a turn off. LEARN how to touch. Don’t go rubbing it aggressively,
                    nothings going to come out of that.
                </p>
                <p>
                    Let that expensive lingerie stay a little bit longer than taking it all off. That shit cost money.
                    You can do stuff with that still on the woman. LEARN.
                </p>
            </div>
            <div class="__action__bar__inner">
                <span class="__wrap__item">
                    <div class="__action__item __action__comment">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __action__like">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __total__viewers">
                        <div class="__wrap__act__ct">
                            <div class="__ui__icon">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="__item__story">
            <div class="__author__story">
                <div class="__author__profile">
                    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                        width="50" height="50">
                </div>
                <div class="__author__name">
                    Tom Caragher
                </div>
            </div>
            <div class="__title__story">
                <a href="#">
                    <span>Hành trình đến Amazon</span>
                </a>
            </div>
            <div class="__content__story">
                <p>
                    Women need more foreplay than men think they do.
                </p>
                <p>
                    You think you need to take your shirt off but don’t do it so soon because women don’t really care
                    about seeing you totally naked. With a shirt on its hotter trust me.
                </p>
                <p>
                    When a woman tries to resist you playfully during sex its just a fun tease and they know you like a
                    fun tease. (Now I mean playful resistance not the nonconsensual one coz everyone knows what that
                    means and I don’t wanna get into that topic)
                </p>
                <p>
                    Men need to learn how to touch the clit because its real sensitive and hard touching doesn’t make
                    anyone come faster it simply is a turn off. LEARN how to touch. Don’t go rubbing it aggressively,
                    nothings going to come out of that.
                </p>
                <p>
                    Let that expensive lingerie stay a little bit longer than taking it all off. That shit cost money.
                    You can do stuff with that still on the woman. LEARN.
                </p>
            </div>
            <div class="__action__bar__inner">
                <span class="__wrap__item">
                    <div class="__action__item __action__comment">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __action__like">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __total__viewers">
                        <div class="__wrap__act__ct">
                            <div class="__ui__icon">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="__item__story">
            <div class="__author__story">
                <div class="__author__profile">
                    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                        width="50" height="50">
                </div>
                <div class="__author__name">
                    Tom Caragher
                </div>
            </div>
            <div class="__title__story">
                <a href="#">
                    <span>Hành trình đến Amazon</span>
                </a>
            </div>
            <div class="__content__story">
                <p>
                    Women need more foreplay than men think they do.
                </p>
                <p>
                    You think you need to take your shirt off but don’t do it so soon because women don’t really care
                    about seeing you totally naked. With a shirt on its hotter trust me.
                </p>
                <p>
                    When a woman tries to resist you playfully during sex its just a fun tease and they know you like a
                    fun tease. (Now I mean playful resistance not the nonconsensual one coz everyone knows what that
                    means and I don’t wanna get into that topic)
                </p>
                <p>
                    Men need to learn how to touch the clit because its real sensitive and hard touching doesn’t make
                    anyone come faster it simply is a turn off. LEARN how to touch. Don’t go rubbing it aggressively,
                    nothings going to come out of that.
                </p>
                <p>
                    Let that expensive lingerie stay a little bit longer than taking it all off. That shit cost money.
                    You can do stuff with that still on the woman. LEARN.
                </p>
            </div>
            <div class="__action__bar__inner">
                <span class="__wrap__item">
                    <div class="__action__item __action__comment">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __action__like">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __total__viewers">
                        <div class="__wrap__act__ct">
                            <div class="__ui__icon">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="__item__story">
            <div class="__author__story">
                <div class="__author__profile">
                    <img src="https://blog.matcharesident.com/wp-content/uploads/2019/07/iStock-944453634.jpg" alt=""
                        width="50" height="50">
                </div>
                <div class="__author__name">
                    Tom Caragher
                </div>
            </div>
            <div class="__title__story">
                <a href="#">
                    <span>Hành trình đến Amazon</span>
                </a>
            </div>
            <div class="__content__story">
                <p>
                    Women need more foreplay than men think they do.
                </p>
                <p>
                    You think you need to take your shirt off but don’t do it so soon because women don’t really care
                    about seeing you totally naked. With a shirt on its hotter trust me.
                </p>
                <p>
                    When a woman tries to resist you playfully during sex its just a fun tease and they know you like a
                    fun tease. (Now I mean playful resistance not the nonconsensual one coz everyone knows what that
                    means and I don’t wanna get into that topic)
                </p>
                <p>
                    Men need to learn how to touch the clit because its real sensitive and hard touching doesn’t make
                    anyone come faster it simply is a turn off. LEARN how to touch. Don’t go rubbing it aggressively,
                    nothings going to come out of that.
                </p>
                <p>
                    Let that expensive lingerie stay a little bit longer than taking it all off. That shit cost money.
                    You can do stuff with that still on the woman. LEARN.
                </p>
            </div>
            <div class="__action__bar__inner">
                <span class="__wrap__item">
                    <div class="__action__item __action__comment">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>100</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __action__like">
                        <div class="__wrap__act__ct __ui__btn__inner">
                            <div class="__ui__icon">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
                <span class="__wrap__item">
                    <div class="__action__item __total__viewers">
                        <div class="__wrap__act__ct">
                            <div class="__ui__icon">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </div>
                            <div class="__div"></div>
                            <div class="__ui__label">
                                <span>10k</span>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>
</section>